<h1>Here is the list of all the restaurants</h1>
<ul>
<% @restaurants.each do |restaurant| %>
  <li><%= restaurant.name %>
    <ul>
      <li> - Address: <%= restaurant.address%></li>
      <li> - Phone Number: <%= restaurant.phone_number%></li>
      <li> - Type of cuisine: <%= restaurant.category%></li>
    </ul>
  </li>
  <% end %>
</ul>
